@model FusdecMvc.Models.Command

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar los datos?</h3>
<div>
    <h4>Comando</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommandStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommandStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionComando)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UbicacionComando)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fundation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fundation.IdFundation)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCommand" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atrás</a>
    </form>
</div>