@model IEnumerable<FusdecMvc.Models.Command>

@{
    ViewData["Title"] = "Comandos";
}

<h1>Comandos</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Agregar Comando</a>
</p>
<table id="dataTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Estado
            </th>
            <th>
                Ubicación
            </th>
            <th>
                Fundación a la que pertenece
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommandName)
                </td>
                <td>
                    @(item.CommandStatus ? "Activo" : "Inactivo")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UbicacionComando)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fundation.FundationName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCommand" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCommand" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCommand" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}