@model FusdecMvc.Models.Brigade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brigade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrigadeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrigadeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrigadeLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrigadeLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrigadeStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrigadeStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Command)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Command.IdCommand)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBrigade" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>