@model FusdecMvc.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div class="card">
    <div class="card-header">
        <h4>Estudiante</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Nombres
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentName)
            </dd>
            <dt class="col-sm-2">
               Apellidos
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentLastName)
            </dd>
            <dt class="col-sm-2">
                Tipo de Documento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentType)
            </dd>
            <dt class="col-sm-2">
                Numero de Documento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentNumber)
            </dd>
            <dt class="col-sm-2">
                Fecha de nacimiento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentDateBirth)
            </dd>
            <dt class="col-sm-2">
                Género
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentGender)
            </dd>
            <dt class="col-sm-2">
                Unidad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Unit.UnitName)
            </dd>
            <dt class="col-sm-2">
                Colegio
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.School.SchoolName)
            </dd>
            <dt class="col-sm-2">
                Estado
            </dt>
            <dd class="col-sm-10">
                @(Model.StudentStatus ? "Activo" : "Inactivo")
            </dd>
        </dl>
        <div>
            <h4>Edicion(es):</h4>
            @if (Model.StudentEditions.Any())
            {
                <ul class="list-group list-group-flush">
                    @foreach (var studentEditions in Model.StudentEditions)
                    {
                        <li class="list-group-item d-flex align-items-center">
                            <i title="Ediciones"></i>
                            <span class="fw-semibold">
                                @studentEditions.Edition.Title
                            </span>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Esta edicion no tiene horarios asociados.</p>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdStudent" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>
