@model FusdecMvc.Models.Audit

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<div class="card">
    <div class="card-header">
        <h3>¿Estás seguro de que quieres eliminar los datos?</h3>
    </div>
    <div class="card-body">
        <h4>Auditoria</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Fecha de <br /> auditoría
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AuditDate)
            </dd>
            <dt class="col-sm-2">
                Nombre del emisor <br /> del certificado
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameOfIssuerAudit)
            </dd>
            <dt class="col-sm-2">
                Nombres
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Certificate.Student.StudentName)
            </dd>
            <dt class="col-sm-2">
                Apellidos
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Certificate.Student.StudentLastName)
            </dd>
            <dt class="col-sm-2">
                Documento del <br /> titular del certificado
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Certificate.Student.DocumentNumber)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdAudit" />
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i> Borrar
            </button>
            <div>
                <a asp-action="Index" class="btn btn-secondary mt-3">
                    &#8592; Volver atrás
                </a>
            </div>
        </form>
    </div>
</div>