@model FusdecMvc.Models.Audit

@{
    ViewData["Title"] = "Eliminar Auditoría";
}

<h1 class="text-center mb-4">Eliminar Auditoría</h1>

<h3 class="text-center">¿Está seguro de que desea eliminar esta auditoría?</h3>
<div class="container">
    <h4>Detalles de la Auditoría</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfIssuerAudit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameOfIssuerAudit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Certificate.IdCertificate)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="IdAudit" />
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i> Borrar
        </button>
        <div>
            <a asp-action="Index" class="btn btn-secondary mt-3">
                &#8592; Volver atrás
            </a>
        </div>
    </form>
</div>