@model FusdecMvc.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div class="card">
    <div class="card-header">
        <h4>Calificación</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Nombre
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.GradeTitle)
            </dd>
            <dt class="col-sm-2">
                Aprobado
            </dt>
            <dd class="col-sm-10">
                @(Model.Approved ? "Aprobado" : "No aprobado")
            </dd>
            <dt class="col-sm-2">
                Estudiantes
            </dt>
            <div>
                <h4>Estudiante(s):</h4>
                @if (Model.StudentGrade.Any())
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var studentGrade in Model.StudentGrade)
                        {
                            <li class="list-group-item d-flex align-items-center">
                                <i class="fas fa-user fa-2x text-primary me-2" title="Student"></i>
                                <span class="fw-semibold">
                                    @studentGrade.Student.StudentName @studentGrade.Student.StudentLastName @studentGrade.Student.DocumentNumber
                                </span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Este libro no tiene autores asociados.</p>
                }
            </div>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IdGrade" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary mt-3">
                &#8592; Volver atrás
            </a>
        </div>
    </div>
</div>

