@model IEnumerable<FusdecMvc.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Calificaciones</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Agregar Calificación</a>
</p>
<table id="dataTable" class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Aprobado
            </th>
            <th>
                Estudiantes
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeTitle)
                </td>
            <td>
                 @(item.Approved ? "Aprobado" : "No aprobado")
            </td>
                <td>
                    @foreach (var studentGrade in item.StudentGrade)
                    {
                        var student = studentGrade.Student;
                        <span>@student.StudentName @student.StudentLastName @student.DocumentNumber</span>
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdGrade" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdGrade" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdGrade" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Borrar</a>
                </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}