@model IEnumerable<FusdecMvc.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservationGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservationGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report.IdReport)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGrade">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGrade">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGrade">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
