@model FusdecMvc.Models.Certificate

@{
    ViewData["Title"] = "Detalles del certificado";
}

<h1>Detalles del certificado</h1>

<div class="card">
    <div class="card-header">
        <h4>Certificado</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Codigo de verificacion
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.VerificationCode)
            </dd>
            <dt class="col-sm-3">
                Emisor
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NameOfIssuerCert)
            </dd>
            <dt class="col-sm-3">
                Estado
            </dt>
            <dd class="col-sm-9">
                @(Model.CertificateStatus ? "Active" : "Inactive")
            </dd>
            <dt class="col-sm-2">
                Curso
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCourse)
            </dd>
            <dt class="col-sm-2">
                Estudiante
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdStudent)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCertificate" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>