@model IEnumerable<FusdecMvc.Models.Certificate>

@{
    ViewData["Title"] = "Certificados";
}

<h1>Certificados</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Crear Nuevo</a>
</p>
<table id="certificatesTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Código de Verificación</th>
            <th>Emisor</th>
            <th>Estado</th>
            <th>Curso</th>
            <th>Estudiante</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.VerificationCode)</td>
                <td>@Html.DisplayFor(modelItem => item.NameOfIssuerCert)</td>
                <td>@(item.CertificateStatus ? "Activo" : "Inactivo")</td>
                <td>@Html.DisplayFor(modelItem => item.IdCourse)</td>
                <td>@Html.DisplayFor(modelItem => item.IdStudent)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCertificate" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCertificate" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCertificate" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#certificatesTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "order": [[0, "asc"]] // Ordenar por nombre de estudiante de forma ascendente por defecto
            });
        });
    </script>
}