@model FusdecMvc.Models.Attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttendanceTitle)
        </dd>
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
        <dt class = "col-sm-2">
            Asistencia
        </dt>
        <dt class="col-sm-2">
            Estudiantes
        </dt>
        <div>
            <h4>Estudiante(s):</h4>
            @if (Model.StudentAttendances.Any())
            {
                <ul class="list-group list-group-flush">
                    @foreach (var studentAttendance in Model.StudentAttendances)
                    {
                        <li class="list-group-item d-flex align-items-center">
                            <i class="fas fa-user fa-2x text-primary me-2" title="Student"></i>
                            <span class="fw-semibold">
                                @studentAttendance.Student.StudentName @studentAttendance.Student.StudentLastName @studentAttendance.Student.DocumentNumber
                            </span>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Este libro no tiene autores asociados.</p>
            }
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAttendance" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>
