@model FusdecMvc.Models.Course

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="card">
    <div class="card-header">
        <h4>Curso</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Nombre
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dt class="col-sm-3">
                Descripción
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>
            <dt class="col-sm-3">
                Intensidad horaria
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CourseHourlyIntensity)
            </dd>
            <dt class="col-sm-3">
                Estado
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CourseEstatus)
            </dd>
            <dt class="col-sm-3">
                Fundación a la que pertenece
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Fundation.IdFundation)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCourse" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>